.banner {
    width: 197px;
    height: 65.2px;
}
.logo {
    display: flex;
    margin-bottom: 30px;
    padding: 0 24px;
}
.images {
    max-width: 131px;
    // height: 40px;
    background-color: transparent;
}
.list-item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 40px;
}
