.banner {
    width: 197px;
    height: 65.2px;
}
.logo {
    display: flex;
    margin: 0 0 18px;
    padding: 0 24px;
}
.images {
    max-width: 131px;
    // height: 40px;
    background-color: transparent;
}
